//*color*//
$white:#fff;
$isabelline: #eeeded;
$spanish-gray: #989797;

//*dos*//
$coral:#EACB31;
$buff: #f1dd7b;
$vainilla: #f5e7a1;

//**naranja*//
$flame: #E4572E;
$lightred: #e87554;
$pastelpink:#f2b2a0;

//*verde *//
$shiny: #4ca866;
$turquoise: #9dcfab;
$pastelgray: #bddfc7;

/* azul*/
$blue-f: #3c91e6;
$bluejeans: #4fa5ea;
$jordyblue: #82b9ef;

//*negro*//
$black:#000;
$outer:#454545;
$quicksilver: #a2a2a2;

//tipografia//
$roboto: 'Roboto', sans-serif;
$mono: 'PT Mono', monospace;

//*peso*//
$light: 200;
$regular: 400;

//*tamaño*//
$xxx-large:70px;
$xx-large: 40px;
$x-large: 30px;
$large:18px;
$medium: 16px;
